<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="../Css/General.css">
    <link rel="icon" href="../Multimedia/logo.png" type="image/icon">
</head>
<body>
<div class="General">
    <div class="menu">
        <h1 class="focim"><strong>RR Hotel</strong></h1>
        <nav>
            <div id="menusor">
                <ul class="menulista">
                    <li class="menuitem"><a href="/Main">Home</a></li>
                    <li class="menuitem"><a href="/Programs">Programs</a></li>
                    <li class="menuitem"><a href="/Reservations">Reservations</a></li>
                    <li class="menuitem"><a href="/Profile">Profile</a></li>
                </ul>
            </div>
        </nav>
        <br/>
    </div>
        <h2>Welcome to the frontpage of the RR hotel</h2>
        <p>You can navigate through the pages that are available if you already have an account head to your Profile and log in.</p>
        <p>Below you can see a video of our complexum we hope you enjoy</p>
        <div class="videok"><video class="kozvetlen" controls width="1000">
            <source src="../Multimedia/hotel.mp4" type="video/mp4"/>
        </video></div>
    </div>
<footer>
    <em>For any business purposes please contact us at: rrhotel@gmail.rr</em>
</footer>
</body>
</html>